<ion-content>
    <section style="position: relative;">
        <ion-slides (ionSlideTap)="tap()" [pager]="pages" [options]="slideOpts" #loopSlider>
            <ion-slide *ngFor="let al of personne?.album">
                <div class="col-images" [ngStyle]="monstyle(al)">

                </div>
            </ion-slide>
        </ion-slides>
        <div class="demander" *ngIf="personne?.album.length <= 1 && affSugPhot">
            <div (click)="demander(1)">
                <font style="font-size: 87%;color: #fff"> Demander + de photo</font>
            </div>
        </div>
    </section>

    <ion-grid>
        <ion-row class="detail">
            <ion-col size="12">
                <p style="font-size: 82%;">
                    {{personne.adresse}}
                </p>
            </ion-col>
            <ion-col size="6">
                <p style="font-family: 'Ubuntu-Light';">
                    {{getKms(personne.kilometre)}} Km
                </p>
            </ion-col>
            <ion-col size="6">
                <p id="age">
                    {{getAge(personne.datenaiss)}}
                </p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-item>
                    <ion-label class="mylabel" style="white-space: normal;">
                        <p id="lib-ann">Son annonce</p>
                        <p *ngIf="personne.about?.length >=0" class="about">
                            {{personne.about}}
                        </p>
                        <div *ngIf="personne.about?.length <=0" style="display: grid;">
                            <p class="about">
                                {{personne.nom}} n'a pas redigé son annonce. Vous pouvez lui suggerer de la renseigner
                            </p>
                            <div class="btn-sug" *ngIf="affSugAbouts" (click)="demander(2)">
                                Suggerer
                            </div>
                        </div>

                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12">
                <ion-item>
                    <ion-label>
                        <p>Centre d'interet</p>
                        <ion-grid style="padding-left: 0;">
                            <ion-row>
                                <p class="monp" *ngIf="ObjInteret?.length <= 0" style="white-space: normal;
                                font-size: 79%;
                                color: gray !important;">
                                    Ce membre n'a pas encore indiqué de centres d'interet
                                </p>
                                <ion-col *ngFor="let interet of ObjInteret" size="12" style="display: flex;padding-left: 0;padding-bottom: 5%;">
                                    <ion-icon style="font-size: 23px;" [ngStyle]="{'color': interet?.color}" name={{interet?.icon}}></ion-icon>
                                    <div style="display: grid;display: grid;
                                    padding-left: 2%;">
                                        <p style="font-size: 14px;" [ngStyle]="{'color': interet?.color}">
                                            {{interet?.libele}}
                                        </p>
                                        <p>
                                            {{parsing(interet?.titre)}}
                                        </p>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12" style="padding-left: 3%;">
                <p id="mode">Mode de vie</p>
                <p class="monp" *ngIf="ObjMode?.length <= 0" style="white-space: normal;
                font-size: 79%;
                color: gray !important;">
                    Ce membre n'a pas encore indiqué son mode de vie</p>

                <ion-row class="detail-plus" *ngFor="let mode of ObjMode">
                    <ion-col size="4">
                        <p> {{mode.libelle}} </p>
                    </ion-col>

                    <ion-col size="6">
                        <p class="myp">
                            {{mode.value}}
                        </p>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>