<ion-content>
    <div style="margin-top: 50%;display: grid" *ngIf="empty">
        <div style="display: flex;">
            <img style="margin: auto" src="../assets/images/sweat.PNG" width="88px">

        </div>
        <p style="text-align: center;font-size: 80%">
            Personne n'a ecnore aimé ton profil
        </p>
    </div>
    <ion-slides pager="false" [options]="slideOpts" #loopSlider>
        <ion-slide *ngFor="let i of personne">
            <div class="toto" [ngStyle]="monStyle(i.images)"></div>
            <section class="sec-info">
                <div class="col-name">
                    <ion-fab-button (click)="action(false, i.id)" color="primary" class="myfab" style="right: 35%;">
                        <i class="fas fa-times" style="margin: auto;font-size: 35px;"></i>
                    </ion-fab-button>
                    <ion-fab-button (click)="action(true, i.id)" color="primary" class="myfab" style="left: 35%;">
                        <i class="fas fa-heart" style="margin: auto;font-size: 35px;"></i>
                    </ion-fab-button>
                    <div class="col-detail">
                        <div class="col-info">
                            <p style="text-align: center;">
                                <font style="    font-weight: bold;color: #fff;">
                                    {{i.nom}}
                                </font>
                                <font style="color: #f704ae;padding-left: 3%">
                                    {{getAge(i.datenaiss)}}
                                </font>
                            </p>
                        </div>
                        <p class="adress">
                            {{i.adresse}}
                        </p>
                    </div>
                </div>
            </section>
        </ion-slide>
    </ion-slides>
</ion-content>