<ion-content>
    <div class="col-empty" *ngIf="personne?.length <= 0">
        <div style="display: flex;">
            <img style="margin: auto" src="../assets/images/sweat.PNG" width="88px">
        </div>
        <p style="text-align: center;font-size:70%; color: gray">
            {{message}}
        </p>
    </div>
    <ion-item style="margin-top: 3%;" *ngFor="let pers of personne" button (click)="route(pers.id)" routerLinkActive="router-link-active">
        <ion-avatar slot="start" (click)="route(pers.id)">
            <img src="{{pers.images}}">
        </ion-avatar>
        <ion-label>
            {{pers.nom}}
        </ion-label>
        <ion-icon slot="end" name="flash-outline"></ion-icon>
    </ion-item>
</ion-content>