<ion-header>
    <ion-toolbar>
        <ion-icon slot="start" color="light" style="font-size: 30px;margin-left: 1%;" name="chevron-back-outline" (click)="goBack()"></ion-icon>
        <ion-title color="light" style="font-size: 93%;float: left"> {{personne.nom}} </ion-title>

        <span *ngIf="personne?.etat !== '1'" class="span-online"> {{timer}} </span>
        <span *ngIf="personne?.etat == '1'" class="span-online"> <i class="fas fa-circle" style="color: rgb(34, 230, 34)"></i> En ligne </span>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-fab vertical="bottom" horizontal="end" edge slot="fixed">
        <ion-fab-button color="success">
            <ion-icon name="chatbubbles-outline" style="margin: auto;font-size: 35px;"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <div class="col-fab">
                <div [routerLink]="['/chat']" queryParamsHandling="merge" routerLinkActive="router-link-active">
                    <div>
                        <p>
                            Ecrire un message
                        </p>
                    </div>
                    <ion-fab-button color="success">
                        <ion-icon name="chatbubbles-outline"></ion-icon>
                    </ion-fab-button>
                </div>
                <div (click)="addFav()">
                    <div>
                        <p>
                            {{Getfavoris()}}
                        </p>
                    </div>
                    <ion-fab-button>
                        <ion-icon [color]="mycolor" name="star-outline"></ion-icon>
                    </ion-fab-button>
                </div>
                <div style="border-bottom: 0" (click)="flash()">
                    <div>
                        <p>
                            Coup de foudre
                        </p>
                    </div>
                    <ion-fab-button color="primary">
                        <ion-icon name="flash-outline"></ion-icon>
                    </ion-fab-button>
                </div>

            </div>

        </ion-fab-list>
    </ion-fab>


</ion-content>
<ion-router-outlet></ion-router-outlet>