<ion-header>
    <ion-toolbar>
        <ion-icon [routerLink]="myroute" queryParamsHandling="merge" routerLinkActive="router-link-active" style="font-size: 30px;" slot="start" name="chevron-back-outline"></ion-icon>
        <div style="display: flex;padding-left: 3%;">
            <ion-avatar style="width: 40px;height: 40px;">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <div style="padding-left: 3%;display: grid;line-height: 16px;">
                <span style="font-size: 81%;">{{personne.nom}}</span>
                <span style="font-size: 70%;"> {{getAge(personne.datenaiss)}}  </span>
                <span style="font-size: 70%;">{{personne.adresse}}</span>
            </div>
        </div>
    </ion-toolbar>
</ion-header>

<section class="cnt" style="position: relative;height: 100%;" id="mydiv">
    <div style="margin-top: 12%;" class="mydiv" *ngIf="chating?.length >= 1">
        <div style="bottom: 0;right: 0;
        left: 0;" id="madiv">
            <ion-item *ngFor="let chat of chating" lines="none" style="background: #ffffffed">
                <ion-avatar [slot]="slot(chat.email)">
                    <img src={{chat?.photo}}>
                </ion-avatar>
                <ion-label [ngStyle]="{'text-align': align(chat?.email)}" style="white-space: initial">

                    <p>{{chat?.messages}}</p>
                    <span style="font-size: 59%;color: gray"> {{chat?.dates}} </span>
                </ion-label>
            </ion-item>
        </div>
    </div>
</section>
<form [formGroup]="form" class="myform" style="background: #a9a9a914">
    <div class="col-btn">
        <ion-input [(ngModel)]="texte" placeholder="Dites quelque chose à {{personne.nom}}" formControlName="message"></ion-input>
        <ion-fab-button id="btn" slot="end" [disabled]="!form.valid">
            <ion-icon name="send" (click)="envoi()"></ion-icon>
        </ion-fab-button>
    </div>
</form>