<ion-header>
    <ion-toolbar>
        <ion-icon [routerLink]="myroute" queryParamsHandling="merge" routerLinkActive="router-link-active" style="font-size: 30px;" slot="start" name="arrow-back-circle-outline"></ion-icon>
        <div style="display: flex;padding-left: 3%;">
            <ion-avatar style="width: 40px;height: 40px;">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <div style="padding-left: 3%;display: grid">
                <span>Edna</span>
                <span style="font-size: 85%;">20 ans, Paris</span>
            </div>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="cnt" style="position: relative" id="mydiv">

</ion-content>
<form class="myform" style="background: #a9a9a914">
    <div class="col-btn">
        <ion-input placeholder="Dites quelque chose à ..."></ion-input>
        <ion-fab-button id="btn" slot="end">
            <ion-icon name="send"></ion-icon>
        </ion-fab-button>
    </div>
</form>