<ion-header>
    <ion-toolbar>
        <ion-icon (click)="goBAck(personne.id)" queryParamsHandling="merge" routerLinkActive="router-link-active" style="font-size: 30px;" slot="start" name="chevron-back-outline"></ion-icon>
        <div class="col-info-pers" style="display: flex;padding-left: 3%;" (click)="route(personne.id)">
            <ion-avatar style="width: 40px;height: 40px;">
                <img src="{{personne.images}}">
            </ion-avatar>
            <div style="padding-left: 3%;display: grid;line-height: 16px;">
                <span style="font-size: 81%;">{{personne.nom}}</span>
                <span style="font-size: 70%;"> {{getAge(personne.datenaiss)}}  </span>
                <span style="font-size: 70%;">{{personne.adresse}}</span>
            </div>
        </div>
    </ion-toolbar>
</ion-header>

<section class="cnt" style="position: relative;height: 100%;" id="mydiv">
    <div class="mydiv" *ngIf="chating?.length >= 1">
        <div style="bottom: 0;right: 0;
        left: 0;" id="madiv">
            <ion-item *ngFor="let chat of chating" lines="none" style="background: #ffffffed">
                <ion-avatar [slot]="slot(chat.email)">
                    <img src={{chat?.photo}}>
                </ion-avatar>
                <ion-label class="label-chat" style="white-space: initial">

                    <p [ngStyle]="{'background': align(chat?.email).couleur, 'float': align(chat?.email).position }">{{chat?.messages}}</p>
                    <div [ngStyle]="{'text-align': align(chat?.email).position}" style="font-size: 59%;color: gray;clear: both"> {{chat?.dates}} </div>
                </ion-label>
            </ion-item>
        </div>
    </div>
</section>
<form [formGroup]="form" class="myform" style="background: #a9a9a914">
    <div class="col-btn">
        <ion-input [(ngModel)]="texte" placeholder="Dites quelque chose à {{personne.nom}}" formControlName="message"></ion-input>
        <ion-fab-button id="btn" slot="end" [disabled]="!form.valid">
            <ion-icon name="send" (click)="envoi()"></ion-icon>
        </ion-fab-button>
    </div>
</form>