ion-toolbar {
    --background: #424546;
    color: #fff;
    padding-top: 1% !important;
    padding-bottom: 1%;
}

.col-btn {
    bottom: 0;
    left: 0;
    right: 0;
}

.col-btn ion-input {
    width: 80%;
    float: left;
    --padding-start: 2%
}

.col-btn ion-fab-button {
    float: right;
    margin-right: 2%;
    padding: 1%;
}

section {
    --background: #ffffffed;
}

.mydiv {
    background: #ffffffed;
    right: 0;
    left: 0;
    bottom: 51px;
}

section[class=cnt] {
    --overflow: hidden;
}

ion-grid[class=mydiv] {
    --overflow: auto;
}

ion-input {
    --padding-top: 19px;
}