.col-loc {
    display: flex;
}

.col-col {
    text-align: center;
    display: grid;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    padding-top: 7%;
    padding-bottom: 7%;
}

.cam {
    font-size: 21px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 3%;
    display: flex;
    color: #fff
}

.online {
    font-size: 21px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 3%;
    display: flex;
}

.online i {
    color: rgb(46, 224, 10)
}

.cam font {
    font-size: 14px;
    padding-left: 11%;
    line-height: 23px;
}