<ion-content>
    <div class="col-empty" style="margin-top: 15%;" *ngIf="personnes?.length <= 0">

        <div class="col-col">
            <div style="display: flex;">
                <img style="margin: auto" src="../assets/images/Search_Icon_256.png" width="88px">
            </div>
            <p style="text-align: center;font-size:80%; color: gray;padding-left: 1%;
            padding-right: 1%;">
                {{texte}}
            </p>
            <p style="font-size: 70%;color: #03A9F4;">
                Voulez-vous Desactivez votre position GPS ?
            </p>
            <ion-toggle (ionChange)="localization($event)" color="primary" style="margin: auto" [(ngModel)]="GPS"></ion-toggle>

        </div>

    </div>

    <ion-slides pager="false" [options]="slideOpts" #loopSlider>
        <ion-slide *ngFor="let i of personnes">

            <div class="toto" [ngStyle]="monStyle(i)"></div>
            <div class="cam">
                <ion-icon name="camera-outline"></ion-icon>
                <font> {{getNbrePict(i.album)}} </font>
            </div>
            <div class="online" *ngIf="i.etat =='1'">
                <i class="fas fa-circle"></i>
            </div>
            <section class="sec-info">
                <div class="col-name" style="display: flex;">
                    <ion-fab-button color="primary" class="myfab" (click)="seemore(i.id)">
                        <ion-icon name="add-outline" style="margin: auto;font-size: 35px;"></ion-icon>
                    </ion-fab-button>
                    <span style="font-family: Oswald-Medium;margin:auto;margin-left: 3%;color: #fff">
                        {{i.nom}}
                    </span>
                    <span style="float: right;margin:auto;margin-right: 3%;color: #fff">
                        {{getAge(i.datenaiss)}}
                    </span>
                </div>
                <div class="col-loc">
                    <span style="font-size: 70%;margin: auto;margin-left: 3%;">
                        {{i.adresse}}
                    </span>
                    <span style="margin: auto;margin-right: 3%;font-family: Oswald-Medium;white-space: pre;">
                        {{getDistance(i.kilometre)}} Km
                    </span>
                </div>
            </section>
        </ion-slide>
    </ion-slides>
</ion-content>