<section>
    <div class="myhead">
            <div>
                <i class="fas fa-chevron-left" (click)="goback()" routerLinkActive="router-link-active" queryParamsHandling="merge" routerLinkActive="router-link-active" slot="start" name="chevron-back-outline"></i>
            </div>
            <div>
                <h3>Abonnement {{choix?.periode}}</h3>
                <p>
                    {{choix?.definition}}
                </p>
            </div>
    </div>
    
    <ion-card class="welcome-card">
        <ion-card-header style="padding-bottom: 0">
            <ion-card-title>Verification de votre abonnement</ion-card-title> <br>
            <ion-row>
                <ion-col style="padding-left: 0;">Payement total</ion-col>
                <ion-col> {{choix?.total}}€ </ion-col>
            </ion-row>
        </ion-card-header>
        <ion-card-content>
            <form action="/" method="post" id="payment-form">
                <div class="form-row" style="visibility: hidden">
                    <div id="card-element">

                    </div>

                    <div id="card-errors" role="alert" style="color: red"></div>
                </div>
                <!-- <input class="holder-name" ([ngModel])='cardname' plcaholder="nom sur la carte" /> -->
                <div style="padding-left: 3px;">
                    <p class="advisor">
                        Tous nos abonnements sont reconductibles automatiquement, sauf resiliation de votre part. Facturé en un seul paiement de {{choix?.total}}€.
                    </p>
                    <br>
                    <p class="advisor">
                        En cliquant sur le bouton DEVENIR PREMIUM je certifis avoir lu et accepter les conditions générale de vente.
                    </p>
                </div>
                <ion-button type="submit" color="success" expand="full">Continuer l'abonnement</ion-button>
            </form>
        </ion-card-content>
    </ion-card>
    <!-- <ion-grid>
        <ion-row>
           
            <ion-col size="8">
                <p class="ps">
                  En cliquant sur continuer  Vous allez etre redirigé vers la plateform de paiement securisée stripe afin de finaliser votre abonnement
                </p>
            </ion-col>
        </ion-row>
    </ion-grid> -->
</section>