.myhead {
    background: #6772e5;
}

.myhead>div:last-child {
    text-align: center;
    padding-bottom: 1px;
    color: #fff;
}   
.col-info {
    padding: 11px;
    border-top: 1px solid #ddd;
}
.col-info p {
    text-align: justify;
    font-size: 13px;
    padding-top: 0;
    margin-top: 0;
}
.myhead>div>i {
    font-size: 20px;
    line-height: 35px;
    color: #fff;
    margin-left: 10px;
}

.ps {
    margin: 0;
    text-align: justify;
    font-size: 13px;
    color: gray;
    word-break: break-all;
}

.advisor {
    text-align: justify;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 5px;
}

ion-content>div:first-child {
    text-align: center;
    background: #3c3c3c;
    padding-bottom: 10px;
    color: #fff;
}

ion-content>div:first-child>h3 {
    margin-top: 0;
    margin-bottom: 0;
}

ion-content>div:first-child>p {
    margin-bottom: 0;
}