<ion-tabs>
    <ion-tab-bar slot="top" style="    height: 40px;">
        <ion-tab-button tab="proposition">
            <ion-icon name="locate-outline"></ion-icon>

        </ion-tab-button>

        <ion-tab-button tab="match">
            <ion-icon name="heart-outline"></ion-icon>
            <ion-badge style="top: 6px;" *ngIf="notifications?.matche.length >= 1"> {{notifications?.matche.length}} </ion-badge>
        </ion-tab-button>

        <ion-tab-button tab="profil" (click)="goProfil()">
            <ion-icon name="people-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="messages" (click)="goMessage()">
            <ion-badge style="top: 6px;" *ngIf="notifications?.chat.length >= 1"> {{notifications?.chat.length}} </ion-badge>
            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>

        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>