<ion-tabs>
    <ion-tab-bar slot="top" style="    height: 40px;">
        <ion-tab-button tab="proposition">
            <ion-icon name="locate-outline"></ion-icon>

        </ion-tab-button>

        <ion-tab-button tab="match">
            <ion-icon name="heart-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="profil">
            <ion-icon name="people-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="about">
            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>