.card-abonnement {
    border-radius: 5px;
    padding:10px;
    box-shadow: 0 2px 12px rgba(0,0,0,.12);
    height: 200px;
    background: #fff;
    margin: 20px;
    position: relative
}
ion-badge {
    position: absolute;
    right: 0;
    top: -9px
}
ion-content {
    --background: #e8e8e8
}
h4 {
    font-weight: bold;
}