<ion-content>
    <div class="col-empty" *ngIf="personne?.length <= 0" style="margin-top: 50%;">
        <div style="display: flex;">
            <img style="margin: auto" src="../assets/images/messages.png" width="88px">
        </div>
        <p style="text-align: center;font-size:70%; color: gray">
            Tu n'as pas encore des messages !
        </p>
    </div>

    <ion-item *ngFor="let pers of messages" button (click)="route(pers.id)" [ngClass]="{gray: pers.color}">
        <ion-avatar slot="start">
            <img src="{{pers.image}}">
        </ion-avatar>
        <ion-label>
            <h2>{{pers.nom}}</h2>
            <h3>{{pers.messages}}</h3>
            <p>{{pers.dates}}</p>
        </ion-label>
    </ion-item>
</ion-content>