<ion-header>
    <ion-toolbar>
        <ion-title style="font-size: 98%">Devenez premium</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <section style="border-bottom: 1px solid #efeaea">
        <ul class="list-premium">
            <li>
                <i class="fas fa-comments" style="color: #4CAF50"></i>
                <p>
                    Chats illimités
                </p>
            </li>
            <li>
                <i class="fas fa-heart" style="color: #E91E63;"></i>
                <p>
                    Likes illimités
                </p>
            </li>
            <li>
                <i class="fas fa-lock"></i>
                <p>
                    Blacklist
                </p>
            </li>
        </ul>
    </section>
    <section>
        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <ion-card data-amount="Gold">
                        <div>
                            <div style="margin: auto">
                                <h4>GOLD</h4>
                                <h5>6 Mois</h5>
                                <h6>
                                    6.87€/Semaine
                                </h6>
                            </div>
                        </div>
                        <ion-badge color="danger">-65%</ion-badge>
                    </ion-card>
                </ion-col>
                <ion-col size="6">
                    <ion-card data-amount="Silver">
                        <div>
                            <div style="margin: auto">
                                <h4>SILVER</h4>
                                <h5>3 Mois</h5>
                                <h6>
                                    9.13€/Semaine
                                </h6>
                            </div>
                        </div>
                        <ion-badge color="danger">-53%</ion-badge>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-card data-amount="Diamond">
                        <div>
                            <div style="margin: auto">
                                <h4>DIAMOND</h4>
                                <h5>1 Mois</h5>
                                <h6>
                                    13.58€/Semaine
                                </h6>
                            </div>
                        </div>
                        <ion-badge color="danger">-31%</ion-badge>
                    </ion-card>
                </ion-col>
                <ion-col size="6">
                    <ion-card data-amount="Rubi">
                        <div>
                            <div style="margin: auto">
                                <h4>RUBI</h4>
                                <h5>2 semaines</h5>
                                <h6>
                                    19.75 €/Semaine
                                </h6>
                            </div>
                        </div>
                    </ion-card>
                </ion-col>
            </ion-row>
            <br>
            <ion-row>
                <ion-col size="12">
                    <ion-button (click)="continuer()" id="continuer" expand="full" data-amount="fomule-1">Continuer</ion-button>
                </ion-col>
                <ion-col size="12">
                    <p id="infos">
                        Pour eviter toute rupture dans votre periode d'abonnement, tous nos abonnements sont reconductibles automatiquement, sauf résiliation de votre part
                    </p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </section>
    <section>
        <div class="adv">
            <p style="text-align: center;padding: 5px;font-size: 98%">
                Mes avantages
            </p>
        </div>
        <ion-grid>
            <ion-row class="mygrid">
                <ion-col size="12">
                    <h6>
                        Gestion de la liste des favoris
                    </h6>
                </ion-col>
                <ion-col size="6">
                    <font>
                        Sans
                    </font>
                </ion-col>
                <ion-col size="6">
                    <ion-icon color="primary" name="checkmark-outline"></ion-icon>
                </ion-col>
                <ion-col size="6">
                    <font>
                        Avec
                    </font>
                </ion-col>
                <ion-col size="6">
                    <ion-icon color="primary" name="checkmark-outline"></ion-icon>
                </ion-col>
            </ion-row>
            <!-- 2 -->
            <ion-row class="mygrid">
                <ion-col size="12">
                    <h6>
                        Envoyer un coup de coeur
                    </h6>
                </ion-col>
                <ion-col size="6">
                    <font>
                        Sans
                    </font>
                </ion-col>
                <ion-col size="6">
                    1/jour
                </ion-col>
                <ion-col size="6">
                    <font>
                        Avec
                    </font>
                </ion-col>
                <ion-col size="6">
                    <ion-icon color="primary" name="checkmark-outline"></ion-icon>
                </ion-col>
            </ion-row>
            <!-- 3 -->
            <ion-row class="mygrid">
                <ion-col size="12">
                    <h6>
                        Visiter le profil d'un membre
                    </h6>
                </ion-col>
                <ion-col size="6">
                    <font>
                        Sans
                    </font>
                </ion-col>
                <ion-col size="6">
                    <ion-icon color="primary" name="checkmark-outline"></ion-icon>
                </ion-col>
                <ion-col size="6">
                    <font>
                        Avec
                    </font>
                </ion-col>
                <ion-col size="6">
                    <ion-icon color="primary" name="checkmark-outline"></ion-icon>
                </ion-col>
            </ion-row>
            <!-- 4 -->
            <ion-row class="mygrid">
                <ion-col size="12">
                    <h6>
                        Gestion des membres bloqués
                    </h6>
                </ion-col>
                <ion-col size="6">
                    <font>
                        Sans
                    </font>
                </ion-col>
                <ion-col size="6">
                    <ion-icon name="close-circle-outline"></ion-icon>
                </ion-col>
                <ion-col size="6">
                    <font>
                        Avec
                    </font>
                </ion-col>
                <ion-col size="6">
                    <ion-icon color="primary" name="checkmark-outline"></ion-icon>
                </ion-col>
            </ion-row>
            <!-- 5 -->
            <ion-row class="mygrid">
                <ion-col size="12">
                    <h6>
                        Naviguer en mode invisible
                    </h6>
                </ion-col>
                <ion-col size="6">
                    <font>
                        Sans
                    </font>
                </ion-col>
                <ion-col size="6">
                    <ion-icon name="close-circle-outline"></ion-icon>
                </ion-col>
                <ion-col size="6">
                    <font>
                        Avec
                    </font>
                </ion-col>
                <ion-col size="6">
                    <ion-icon color="primary" name="checkmark-outline"></ion-icon>
                </ion-col>
            </ion-row>
            <!-- 6 -->
            <ion-row class="mygrid">
                <ion-col size="12">
                    <h6>
                        Envoyer un message
                    </h6>
                </ion-col>
                <ion-col size="6">
                    <font>
                        Sans
                    </font>
                </ion-col>
                <ion-col size="6">
                    <ion-icon name="close-circle-outline"></ion-icon>
                </ion-col>
                <ion-col size="6">
                    <font>
                        Avec
                    </font>
                </ion-col>
                <ion-col size="6">
                    <ion-icon color="primary" name="checkmark-outline"></ion-icon>
                </ion-col>
            </ion-row>
            <!-- 7 -->
            <ion-row class="mygrid">
                <ion-col size="12">
                    <h6>
                        Tchatter avec un membre
                    </h6>
                </ion-col>
                <ion-col size="6">
                    <font>
                        Sans
                    </font>
                </ion-col>
                <ion-col size="6">
                    <ion-icon name="close-circle-outline"></ion-icon>
                </ion-col>
                <ion-col size="6">
                    <font>
                        Avec
                    </font>
                </ion-col>
                <ion-col size="6">
                    <ion-icon color="primary" name="checkmark-outline"></ion-icon>
                </ion-col>
            </ion-row>
            <!-- 8 -->
            <ion-row class="mygrid">
                <ion-col size="12">
                    <h6>
                        Voir les photos d'un membre
                    </h6>
                </ion-col>
                <ion-col size="6">
                    <font>
                        Sans
                    </font>
                </ion-col>
                <ion-col size="6">
                    <font style="font-size: 14px;">
                        1 si vous n'avez pas de photo
                    </font>
                </ion-col>
                <ion-col size="6">
                    <font>
                        Avec
                    </font>
                </ion-col>
                <ion-col size="6">
                    <ion-icon color="primary" name="checkmark-outline"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
    </section>
</ion-content>