<ion-content [fullscreen]="true">
    <div>
        <section>
            <ion-button expand="full" color="primary" [routerLink]="['/inscription']" routerLinkActive="router-link-active">CREER SON PROFIL</ion-button>
            <ion-button expand="full" color="light" [routerLink]="['/connexion']" routerLinkActive="router-link-active">SE CONNECTER</ion-button>
            <ion-button expand="full" color="light">
                <ion-icon slot="start" name="logo-facebook" color="secondary"></ion-icon>
                Connexion par Facebook
            </ion-button>
        </section>
    </div>
</ion-content>