<ion-content>
    <section class="mysec">
        <ion-item button>
            <ion-icon color="warning" slot="start" name="star-outline"></ion-icon>
            <ion-label>
                Mes favoris
            </ion-label>
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item button>
            <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
            <ion-label>
                Ma blacklist
            </ion-label>
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item button lines="none">
            <ion-icon color="danger" slot="start" name="heart-outline"></ion-icon>
            <ion-label>
                Mes matches
            </ion-label>
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
    </section>
    <section style="margin-top: 10%;margin: 4%" class="mysec">

        <ion-segment [value]="myvalue" (ionChange)="setSwitch($event)">
            <ion-segment-button value="favorite">
                <ion-label>Je les interésse</ion-label>
            </ion-segment-button>
            <ion-segment-button value="map">
                <ion-label>Mes actions</ion-label>
            </ion-segment-button>
        </ion-segment>
        <div *ngIf="switch">
            <ion-item button>
                <ion-icon color="success" slot="start" name="eye-outline"></ion-icon>
                <ion-label>
                    visite reçues
                </ion-label>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>
            <ion-item button>
                <ion-icon color="secondary" slot="start" name="heart-circle-outline"></ion-icon>
                <ion-label>
                    Likes reçus
                </ion-label>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>
            <ion-item button lines="none">
                <ion-icon slot="start" name="newspaper-outline"></ion-icon>
                <ion-label>
                    Suggestions reçues
                </ion-label>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>
        </div>
        <div *ngIf="!switch">
            <ion-item button>
                <ion-icon color="success" slot="start" name="eye-outline"></ion-icon>
                <ion-label>
                    visite faites
                </ion-label>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>
            <ion-item button>
                <ion-icon color="secondary" slot="start" name="heart-circle-outline"></ion-icon>
                <ion-label>
                    Likes envoyé
                </ion-label>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>
            <ion-item button lines="none">
                <ion-icon slot="start" name="newspaper-outline"></ion-icon>
                <ion-label>
                    Suggestions envoyées
                </ion-label>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>
        </div>
    </section>
</ion-content>